.box {
    background: #8111e8;
    overflow: hidden;
    //height: 540px;
    // height: 100vh;
    // width: 100vw;
}

//
.header {
    margin: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 8px;
}

.x {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    color: #ffffff;
    transform: translate(-3px, 12px);
    margin-left: 9px !important;
    margin-right: 9px !important;
}

.pic {
    height: 0px;
    img {
        width: 28px;
    }
}

.dheal {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 29px !important;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    margin-left: 7px !important;
}

.second-heading {
    margin-left: 8% !important;
    p {
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 13px !important;
        line-height: 19px !important;
        text-align: center;
        color: #ffffff;
        width: 100%;
        margin: 0 !important;
    }
}

//
.this-store {
    margin-left: -26px !important;
}

.recommend {
    margin-top: 20px;
    p {
        font-family: "Jost";
        font-style: normal;
        font-weight: 700;
        font-size: 16px !important;
        line-height: 23px !important;
        text-align: center;
        color: #ffffff;
    }
}

.recommends {
    p {
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 14px !important;
        line-height: 18px !important;
        text-align: center;
        color: #ffffff;
    }
}

.logo-img {
    //   position: relative;
    //   margin-left: -12%;
    position: static;
    margin-left: 74%;
    margin-top: -58px;
    width: 35px;
    height: 64px;
}

//
.stock-img {
    text-align: right;
    margin-top: 12px;
    height: 56px;
    margin-top: -31px;
}

.stock-img2 {
    text-align: left;
}

.coin-animation {
    text-align: center;
}

//
.friend-recommed {
    margin-top: -24px;
    p {
        font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 15px !important;
        line-height: 19px !important;
        text-align: center;
        color: #ffffff;
    }
}

.instant-cashback {
    color: #ffcf09;
    // color: #f97c80;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 0px black;
}

//
.get-this-now {
    text-align: center;
}

//
.or {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 23px !important;
    margin-top: 10px !important;
    color: #ffffff;
}

.save-this {
    text-align: center;
    margin-bottom: 14px;
    a {
        font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 16px !important;
        line-height: 23px !important;
        color: #ffc700;
        text-decoration: underline;
    }
}

//
@media screen and (min-width: 425px) {
    .box {
        background: #8111e8;
        overflow: hidden;
        height: auto;
    }
    .logo-img {
        position: relative;
        // margin-left: -12%;
        margin-top: -10px;
    }
}


/* ------------------- Hands ----------------------------- */

.hands {
    margin-top: -29px;
    .handLeft {
        width: 100%;
        position: relative;
        top: 23px;
        img {
            width: 46%;
        }
    }
    .coin {
        animation: coin 5s ease-in-out infinite;
        height: 0px;
        text-align: center;
        margin: -80px 80px 80px 0px;
    }
    .handRight {
        width: 100%;
        text-align: right;
        height: 50px;
        img {
            width: 46%;
        }
    }
}

// .handLeft,
// .handRight,
// img {
//   z-index: 2;
//   width: 70%;
// }
@keyframes coin {
    0% {
        // transform: translate(-20px, 40px) rotate(0deg);
        transform: translate(-3px, -32px) rotate(0deg);
    }
    50% {
        transform: translate(80px, -80px) rotate(40deg) rotatez(30deg);
        // transform: translate(30px, -10px) rotate(40deg) rotatez(30deg);
    }
    100% {
        transform: translate(-3px, -32px) rotate(0deg);
    }
}

// button
.cardContainer {
    // width: 100vw;
    // height: 100vh;
    display: grid;
}

.card {
    display: grid;
    place-items: center;
}

.btnContainer {
    width: 100%;
    height: 100%;
    // background-color: blueviolet;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}

// .btnContainer {
//   width: 100%;
//   position: relative;
//   display: grid;
//   place-items: center;
//   overflow: hidden;
// }
.btnMain {
    /* overflow: hidden; */
    z-index: 5;
    transition: cubic-bezier(0.83, -0.01, 0.23, 1.01);
    animation: float 2s ease-in-out infinite;
    margin-top: 14px;
}

.btn3d {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border: none;
    background-color: yellow;
    padding: 20px 50px 20px 50px;
    transform-style: preserve-3d;
    transform: perspective(800px) rotateX(40deg);
    z-index: 3;
    color: black;
    // width: 146px;
}

.btn3d::before {
    overflow: hidden;
    content: " ";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 30%;
    background-color: #d9cf1f;
    z-index: 2;
    transform-origin: 0% 0%;
    transform: rotateX(-100deg);
    background-blend-mode: soft-light;
}

.btn3d,
.btn3d::before {
    background-image: linear-gradient( 90deg, transparent 40px, white 40px, white 100px, transparent 10px, transparent 120px, white 120px, white 140px, transparent 140px, transparent 300px);
    background-position: 0px 0px;
    animation: shine 5s infinite;
}

@keyframes shine {
    0% {
        background-position: -150px 0px;
    }
    /* 50%{
          background-position: 250px 0px;
      } */
    100% {
        background-position: 416px 0px;
    }
}

@keyframes float {
    0% {
        transform: translatey(-10px);
        /* margin-bottom: 0px; */
    }
    50% {
        transform: translatey(0px);
        /* margin-bottom: 20px; */
    }
    100% {
        transform: translatey(-10px);
        /* margin-bottom: 00px; */
    }
}

.shadow {
    display: grid;
    position: absolute;
    top: 66%;
    width: 206px;
    height: 40px;
    transform-style: preserve-3d;
    transform: perspective(800px) rotateX(30deg);
    background-color: #000000;
}