header {
    background: #202020;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    p {
      margin: 0 !important;
      font-style: normal;
      font-weight: 500;
      font-size: 17px !important;
      line-height: 26px !important;
      color: #ffffff;
      display: flex;
      align-items: center;
      gap: 2%;
    }
  }
  
  //
  
  .content {
    display: flex;
    padding: 5px 20px;
    .content_text {
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px !important;
        line-height: 20px !important;
        color: #555555;
        margin-bottom: 0 !important;
      }
    }
  }
  