.share1 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    padding: 8px 3px 8px 3px;
    font-family: 'jost', sans-serif !important;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-right: 15px;
        padding-left: 15px;
        height: 80px;
        margin-top: -55px;
        mat-icon {
            margin-right: 2px;
        }
        button {
            display: flex;
            align-items: center;
            border: none;
            //padding: 5px 5px 5px 10px;
            border-radius: 5px;
            margin-top: 5px;
            width: 120px;
            font-family: 'jost', sans-serif !important;
            font-size: 14px;
            line-height: 32px;
            height: 32px;
            flex-direction: column;
        }
    }
    .pic {
        padding: 0.6rem !important;
        img {
            width: -webkit-fill-available;
            border: #eeeeee solid 1px;
            object-fit: contain;
        }
    }
    .squarePic{
        max-width: 300px; height: 300px;
        margin: 0 auto;
        img{
            max-width: 300px; height: 300px;
        }
    }
    .description {
        margin-bottom: 0.2rem;
        font-weight: 500 !important;
        font-size: 12px !important;
        text-align: center;
    }
    .proceed-button {
        font-family: "Jost", sans-serif !important;
        background-color: #874BF9;
    }
}

.share2 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    padding: 10px 5px 10px 5px;
    font-family: 'jost', sans-serif !important;
    font-size: 15px !important;
    font-weight: 600;
    .list {
        padding: 10px;
    }
    .list-item {
        display: flex;
        img {
            margin-top: 0.16rem;
        }
        .ml-small {
            margin-left: 0.4rem !important;
            text-align: left;
        }
    }
    .proceed-button {
        font-family: "Jost", sans-serif !important;
        background-color: #874BF9;
    }
}