.whole {
  margin: 5px 10px;
}

.header {
  display: flex;
  align-items: center;
}

.left {
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 23px !important;
    text-align: center;
    color: #9e9e9e;
  }
}

.right {
  button {
    background: whitesmoke;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .material-icons {
    font-size: 20px;
  }
}

//

.view_all_loc {
  p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px !important;
    line-height: 30px !important;

    color: rgba(0, 0, 0, 0.8);
  }
}

//

.locations {
  margin: 9px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .store_loc {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 0px 0;
    background: #fff;
    border: none;
    .d-flex {
      display: flex;
      align-items: baseline;
    }
    .name_address {
      p {
        font-size: 14px !important;
        line-height: 16px !important;
      }
    }
  }
}

// .store_address {
//   p {
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px !important;
//     line-height: 133% !important;
//     color: #b5b5b5;
//     // border-bottom: 1px solid;
//     padding-bottom: 15px !important;
//     text-align: justify;
//   }
//   .km {
//     border: none !important;
//     padding-bottom: 0 !important;
//   }
// }

.contact_number {
  // margin: -18px 0 0 0;
  a {
    padding: 0 !important;
    margin: 0 15px;
    font-size: 12px !important;
    display: flex;
    align-items: start;
    margin: -12px 0 3px 13px;
  }
  .mat-icon {
    width: 20px;
    height: 20px;
  }
  .material-icons {
    font-size: 18px;
  }
}

.limitTextHeight {
  height: 25px;
  overflow: hidden;
}

// .read_more {
//   border: none;
//   outline: transparent;
//   font-style: normal !important;
//   font-weight: 400 !important;
//   font-size: 13px !important;
//   line-height: 19px !important;
//   color: #874bf9 !important;
//   margin: 4px 12px;
//   background: transparent;
//   margin: 0 0px 10px 13px !important;
// }
