<div class="feedTop">

<div class="main-content">
    <div class="d-flex-row align-items-center">
        <b class="big-text"> My Level </b> &nbsp; &nbsp;
        <img src="assets/lucky//screen2/trophy.svg" alt="">
    </div>
    <br>
    <div class="thin-text">
        <p>Level up to unlock Surprise Rewards</p>
    </div>

    <div class="level-section">
        <div class="d-flex-row wrap">
            <div class=" col-33 p-5 ">
                <div class="bg-grad-blue">
                    <div class="level-card align-items-center">

                        <div class="header">
                            <div class="d-flex-row justify-content-center">
                                <img src="assets/lucky/screen2/coloredcart.svg" alt="">&nbsp; &nbsp;
                                <span> Stores shared </span>
                            </div>
                        </div>
                        <div class="body  w-center mt-10">
                            <div class="level-bg d-flex-column-reverse">
                                <div [ngStyle]="{'height': '20%'}" class="battery-fill-1"></div>
                                <div class="arrow-bg">
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>

                                </div>
                            </div>
                            <span class="level-percent">2/10</span>
                            <div class="text-bold m--5 mb-5"> Level 1</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-33  p-5 ">
                <div class="bg-grad-green">
                    <div class=" level-card align-items-center">
                        <div class="header">
                            <div class="d-flex-row justify-content-center">
                                <img width="10%" height="10%" src="assets/lucky/svg/coin.svg" alt="">&nbsp; &nbsp;
                                <span> Refr cash earned </span>
                            </div>
                        </div>
                        <div class="body  w-center mt-10">
                            <div class="level-bg d-flex-column-reverse">
                                <div [ngStyle]="{'height': '60%'}" class="battery-fill-2"></div>
                                <div class="arrow-bg">
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>

                                </div>
                            </div>
                            <span class="level-percent ">1400</span>
                            <div class="text-bold m--5 mb-5"> Level 1</div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-33  p-5 ">
                <div class="bg-grad-purple">
                    <div class=" level-card align-items-center">
                        <div class="header">
                            <div class="d-flex-row justify-content-center">
                                <img width="10%" height="10%" src="assets/lucky/screen2/recommendationsused.svg" alt="">&nbsp; &nbsp;
                                <span> Recommendations </span>
                            </div>
                        </div>
                        <div class="body  w-center mt-10">
                            <div class="level-bg d-flex-column-reverse">
                                <div [ngStyle]="{'height': '40%'}" class="battery-fill-3"></div>
                                <div class="arrow-bg">
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>
                                    <div class="arrow"></div>

                                </div>
                            </div>
                            <span class="level-percent">5/10</span>
                            <div class="text-bold m--5 mb-5"> Level 1</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="referral-section">
        <div class="referral-card">
            <div class="d-flex-row">
                <div class="col-60 ptb-5">
                    <p> Invite Your Friends And Family to the Refr App & Earn <img src="assets/lucky/svg/coin.svg" width="6%" alt=""> 50 on every Referral </p>
                    <br>
                    <button mat-button class="refer-invite-btn">Invite to Refr</button>
                </div>
                <div class="col-40">
                    <img id="handphone" src="assets/lucky/screen2/handphone.svg" alt="">
                </div>

            </div>

        </div>

    </div>

    <div class="heading d-flex-row">
        <b>This Just Got In </b> &nbsp;
        <img src="assets/lucky/screen2/downarrow.svg" alt="">
    </div>

</div>

</div>









<div class="container feedX">
    <div class="row bg-secondary">

    
        <div class="col col-100 col-boxi" *ngIf="informList$ | async as informList">
    
    
            <div class="card shadow" *ngFor="let r of informList">
                <div class="card-img-container"
                    [style]=" !imgLoaded.includes(r.storeData.banner) ? 'background-image: url(assets/other/locate.svg);' : '' ">
                    <img class="imgBanner" [src]="r.storeData.banner" (load)="imgLoaded.push(r.storeData.banner)" >
                    <div class="offer-tag">
                        <h6>Get <img src="assets/lucky/svg/coin.svg" alt=""> {{r.storeData.cashback || 50}}</h6>
                    </div>
                    <div class="tag b_gradient" *ngIf="r == 1">
                        <span class="material-icons">person_outline</span>
                        <p>Alex John</p>
                    </div>
                    <div class="tag b_gradient" *ngIf="r == 2">
                        <span class="material-icons">campaign</span>
                        <p>Give us a shoutout</p>
                    </div>
                    <div class="tag b_gradient" *ngIf="r == 4">
                        <span class="material-icons">campaign</span>
                        <p>Order & shoutout</p>
                    </div>
                    <div class="band" *ngIf="r == 2 || r == 3">
                        <svg width="97" height="95" viewBox="0 0 97 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 94.75L96.8758 0.125171L96.001 26.75L27.5 94.75L0 94.75Z" fill="#FC6B6B" />
                        </svg>
                        <p>Delivered</p>
                    </div>
                </div>
                <div class="card-inner" style="display: flex;">
                    <div style="min-width: 60%;">
                        <b class="product-title">{{r.storeData.name}}
                            <!--span *ngIf="r.what == 'C-LINK' ">C-LINK</span>
                            <span *ngIf="r.what == 'O-LINK' && r.about !== 'done 14 days' ">O-LINK WAIT14</span>< !--WAIT14-- >
                            <span *ngIf="r.what == 'O-LINK' && r.about == 'done 14 days' ">O-LINK DONE14</span>< !--DONE14-- >
                            <span *ngIf="r.what == 'B-LINK' ">B-LINK</span-->
                            <span *ngIf="r.test">TEST</span>
                        </b>
                        <p class="text-muted">{{  getSubCat( r.storeData.cat, r.storeData.subCat)  }}<span class="vh-line">&nbsp;|&nbsp;</span><span class="status">{{r.storeData.type == "Onli" ? "Online ":" " }}{{r.storeData.type == "Offl" ? "Offline ":" " }}{{r.storeData.type == "Both" ? "Hybrid ":" " }} Store</span></p>
                    </div>
                    <span class="divide"></span>
                    <div>
                        <button mat-flat-button class="btn-dark" [disabled]="makingChanges" *ngIf=" r.what == 'C-LINK' ">Get This</button>
                        <!--button mat-flat-button class="btn-dark" [disabled]="makingChanges" *ngIf=" r.what == 'O-LINK' && r.about == 'done 14 days' && '' " (click)="feedAction( 'feedDONE', r )">Refr & Claim</button>< !--FOR DIRECT JOURNEY-- >
                        <button mat-flat-button class="btn-dark" [disabled]="makingChanges" *ngIf=" r.what == 'O-LINK' && r.about == 'done 14 days' " (click)="feedAction( 'feedDONE', r )">Claim Now</button>< !--FOR F2F JOURNEY-->
                        <button mat-flat-button class="btn-dark" [disabled]="makingChanges" *ngIf=" r.what == 'O-LINK' && calculate14( r.sin ) " (click)="feedAction( 'feedDONE', r )">Claim Reward</button><!--FOR F2F JOURNEY-->
                        <button mat-flat-button class="btn-dark" [disabled]="makingChanges" *ngIf=" r.what == 'O-LINK' && !calculate14( r.sin ) " (click)="feedAction( 'feedWAIT', r )" >Unlock Reward</button>
                        <button mat-flat-button class="btn-dark" [disabled]="makingChanges" *ngIf=" r.what == 'B-LINK' ">Shop Now</button>
                        <!--button mat-flat-button class="btn-dark" *ngIf="r == 5">Refr Now</button-->
                    </div>
                </div>
            </div>
    

            <div class="col col-100" style="margin-bottom: 60px;">
                <p *ngIf="informList.length == 0">Nothing to show...</p>
            </div>




        </div>
    
    
    </div>
</div>