<div class="container">

    <div class="main">


        <div class="row">

            <div class="box">

                <div class="col col-100">

                    <div class="redeem">
                        <p>Terms and conditions</p>
                    </div>

                    <div class="termslists">
                        <ol>
                            <li>For <b>In-store</b> purchases, cashback must be confirmed by the store so make sure you
                                contact the storefront before you hit the Redeem button. Once
                                approved by store, an instant cashback will be reflected in your Refr wallet.
                            </li>
                            <li>Multiple codes of a store cannot be redeemed on a single bill.</li>
                            <li>After the expiry date of a campaign, you cannot redeem the Refr code received from a
                                friend at the store.</li>
                            <li>For <b>online</b> purchases, cashback will be credited once the return period is over.
                            </li>
                            <li>Cashback is credited as Refr cash in your wallet which can be spent on all stores listed
                                on the Refr app.</li>
                            <li>To <b>pay using your Refr cash at offline stores,</b>
                                payment
                                has
                                to
                                be made through the Refr platform
                            </li>
                            <li>
                                To <b>Pay using your Refr cash at online stores,</b> select ‘Pay with Refr cash’ at
                                checkout.
                                You can also make your payment
                                partly with Refr cash and partly with any of other online payment options. Part payment
                                using COD is not permitted.
                            </li>
                            <li>
                                Cashback will not be credited for any transaction with the store outside the Refr app.
                            </li>
                            <li>
                                Refr codes will not be applicable alongside any ongoing offers the store is running.
                            </li>
                            <li>All returns, refunds or exchanges will adhere to the policies of the store from where
                                the product has been ordered.
                            </li>
                            <!-- <div class="brr">
                                <div>
                                    <svg width="3" height="3" viewBox="0 0 3 3" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="1.5" cy="1.5" r="1.5" fill="black" />
                                    </svg>
                                </div>
                                <div>
                                    <p>
                                        For online payments choose pay with Refr cash at checkout. You can also make
                                        your payment partly with Refr cash and
                                        partly with mode of choice to except COD.
                                    </p>
                                </div>
                            </div> -->

                        </ol>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>